////////////////////////////////////////////////////////////
//logo
.logo{
    height: 3.25rem;
    margin-left: 3rem;
}

//////////////////////////////////////////////
/// Search
.search {
    flex: 0 0 35%;
    color: var(--dark-text-color);
    display: flex;
    justify-content: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--grey-light-3);
        border: none;
        padding: 1.1rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -2.9rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--grey-light-3);
        }
    }
    &__input+&__button {
        background-color: var(--grey-light-3);
    }
    &__button {
        border: none;
        &:focus {
            outline: none;
            background-color: var(--grey-light-3);
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 1.9rem;
        width: 2rem;
        background-color: var(--grey-light-3);
        fill: var(--grey-dark-3);
        padding-right: .8rem;
    }
}




//////////////////////////////////////////////
/// User navigation
.user-nav{
    align-self: stretch;

    display: flex;
    align-items: center;
    & > *{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;

        display: flex;
        align-items: center;
    }
    & > *:hover{
        background-color: var(--grey-light-2);
    }
    &__icon-box{
        display: flex;
        align-items: center;
        position: relative;
    }
    &__icon{
        height: 2.25rem;
        width: 2.25rem;

        fill: var(--grey-dark-2);
    }
    &__notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--primary);

        color: white;
        text-align: center;
        position: absolute;
        top: .6rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user{
        
    }
    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
    }
    &__user-name{
        margin-left: 1rem;;
    }
}